<div>
    <p class="state">I was born in Arizona, where I spent the largest portion of my life, until I met my now wife in
        Phoenix. We then moved to Los Angeles, and thereafter to Reno, until finally bouncing back to LA.
        <br>
        <br>
        A factor for our return is proximity to family, and I want to make it work this time, so as I was researching
        careers that could help us afford the LA lifestyle, I came across the "Coding Boot Camps" offered in the area.
        <br>
        <br>
        After settling on the UCI program, I have promised myself to try my hardest to wrap my head around coding, as I
        had a brief exposure to it, and I am enjoying every minute!
    </p>
    </section>
    <section id="resume">
        <a href="../Assets/images/resume.pdf">Downlaod My Resume Here</a>
        <iframe src="../Assets/images/resume.pdf" width="100%" height="500px"></iframe>
    </section>
</div>