<section id="contact">
    <h1 class="info">Contact Me</h1>
    <p class="state">Im getting used to answering replies more often, and the best way to reach me right now is through
        <strong><a href="https://linkedin.com/in/nicolaipitroff">Linked-In</a></strong>
    </p>
    <p>Or you can email me <strong><a href=mailto:nicolai.pitroff@gmail.com? subject="Resume Inquiry">Here</a></strong>
    </p>

</section>