<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/public/javascript/handlebars-v4.7.6.js"></script>
</head>